.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-poke {
   width: 100%;
  text-align: left;
  color: #111111;
  position: absolute;
  top: 150px;


}


.table{
  width: 50%;
  border: none;

}

.detail-product {
  width: 100%;
  text-align: left;
  color: #111111;
  position: absolute;
  top: 100px;
  margin: 2rem;

}

.back {
  width: 20%;
  justify-content: right;
  top: 770px;
  position: absolute;
  right: 10px;


}

