body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
  font-family: "Brandon Grotesque";
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
input {
  border: 1.2px solid #141414;
  background: #fff;
  width: 50%;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  border-radius: 2px;
}

::placeholder {
  font-size: 1.2rem;
  font-family: "Brandon Grotesque";
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  margin: 60px;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  background: #fff;
  padding: 2rem;
  border-radius: 40px;
  font-size: 1.2rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
}
.content {
  line-height: 2rem;
}

.error {
  color: #ff5a5f;
  text-align: center;
  font-size: 2rem;
}

.avatar {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: flex-start;
}

.title {
  font-size: 2.5rem;
}

.button {
  background: #fff;
  border: 1.2px solid #141414;
  padding: 15px 25px;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.button:hover {
  background: #141414;
  color: #fff;
}
img {
  border-radius: 50%;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}